<div class="kb-board-header">
    <button 
    mat-mini-fab
    [routerLink]="['/board']" 
    color="secondary"
    aria-label="Back to Boards">
    <mat-icon>chevron_left</mat-icon>
    </button>
    <h1 class="kb-board-title">{{board()?.name}}</h1>
</div>


<div 
cdkDropListGroup
cdkDropList 
cdkDropListOrientation="horizontal"
class="swimlane-wrapper"
(cdkDropListDropped)="onSwimlaneChange($event)">
 @for(swimlane of board()?.swimlanes; track swimlane){
  <div class="swimlane" cdkDrag>
    <div class="swimlane-header" cdkDragHandle>
        <h2>{{swimlane.name}}</h2>
    </div>
   <div class="swimlane-inner"> 
            <div 
            class="swimlane-inner-dragzone"
            cdkDropList
            cdkDropListOrientation="vertical"
            [cdkDropListData]="swimlane.cards"
            (cdkDropListDropped)="onCardChange($event,swimlane)"
            >
                @for(card of getSortedCards(swimlane); track card){
                  <div 
                  class="swimlane-card" 
                  cdkDrag [cdkDragData]="card"
                  (click)="addOrEditCard(swimlane,card)">{{ card.name }}</div>
                }
            </div>
          </div>
          <button (click)="addOrEditCard(swimlane)" mat-button>Add Card</button>
        </div>
 }


  <div class="swimlane">
    <h2>New Swimlane</h2>
    <div class="swimlane-inner">
    <form [formGroup]="swimlaneForm">
    <mat-form-field>
        <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Ex. Todo" />

        @if (!swimlaneForm.controls.name.hasError('required')) {
        <mat-error>Please enter a valid name</mat-error>
        } 
    </mat-form-field>
    <br />
    <button (click)="addSwimlane()" color="primary" mat-flat-button>Add swimlane</button>
  </form>
    </div>
  </div>
</div>


