<h1>My Boards</h1>
<div class="board-wrapper">
  @for(board of boards(); track board.id) {
      
        <mat-card>
           <a class="board" [routerLink]="['/board', board.id]">
          <mat-card-header>
            <mat-card-title>{{ board.name }}</mat-card-title>
          </mat-card-header>
          </a>
          <mat-card-actions>
            <button mat-button (click)="openNewBoardFlow(board)">Edit</button>
            <button mat-button (click)="deleteBoard(board.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      
  }
<div class="add-board-btn">
<button (click)="openNewBoardFlow()" mat-flat-button color="primary">Add a Board</button>