a {
    margin-top: 20px;
    text-decoration: none;
    color: gray; // or whatever your primary/secondary color is
    cursor: pointer;
  
    &:hover {
      text-decoration: underline;
    }
  }

